*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***********************variables*******************/
:root{
    --primary-color:blue;
}
/***********************variables*******************/

.header{
    background-color: #000000;
    height: 120vh;
    position: relative;
}

.nav{
    padding: 20px 0;
    position: relative;
}

.nav-container{
    max-width: 1140px;
    margin: 0 auto;
}

.nav-container::after{
    content: "";
    display: table;
    clear: both;
}


.nav-logo{
    height: 70px;
    width: 70px;
    vertical-align: middle;
    border-radius: 10px;
}


.nav-brand{
    float: left;
}

.nav-link{
    float: left;
}


.nav-brand-name{
    color: white;
}


.nav-menu-items{
    float: right;
    padding-right: 10px;
    list-style: none;
    color: #fff;
    margin-top: 30px;
}

.nav-menu-list::after{
    content: "";
    display: table;
    clear: both;

}

.nav-link{
    text-decoration: none;
    color: #fff;
    transition: all 1s;
}
.nav-link:hover{
    border-bottom: 1px solid greenyellow;
    border-radius: 5px;
}

.nav-active-link{
    color:var(--primary-color);
}



/***********************NAV END*************************/

/***********************buttons*************************/
.btn{
    border-radius: 7px;
    transition: all 1s;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
}

.btn:hover{
    background-color: greenyellow;
}

/***********************buttons close*******************/

/***********************Reuseable items*************************/
.row{
    max-width: 1140px;
    margin:0 auto;
}



.row::after{
    content:"";
    display: table;
    clear: both;
}

[class^="col"]{
    float: left;
}



[class^="col"]:not(:last-child){
    margin-right: 40px;
}

.col-1-of-2{width: calc((1140px - 40px) / 2);}
.col-1-of-3{width: calc((1140px - 2 * 40px) / 3);}
.col-1-of-4{width: calc((1140px - 3 * 40px) / 4);}

/***********************Reuseable items ends*************************/

/*******************hero starts************************/
.hero{
    margin-top: 50px;
}

.text{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 60px;
}

.hero-image{
    height: 400px;
    width: 400px;
}

.primary-header{
    color: #fff;
    font-size: 60px;
}

.custom-shape-divider-bottom-1748348549 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1748348549 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1748348549 .shape-fill {
    fill: #FFFFFF;
}

/*******************hero ends*************/

/******sample tag price page starts*********/

.section-samples{
    padding: 100px 0;
}

.samples-header{
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    margin: 0 450px;
    width: 40%;
}

.samples-images{
    width: 70px;
    margin-top: 30px;
}

.samples-sec-header{
    margin: 15px 0;
    font-size: 28px;
}

.sample-para{
    max-width: 200px;
    margin-bottom: 50px;
    font-size: 20px;
    margin: 0 90px;
}

.samples{
    text-align: center;
}

.middle-sample{
    box-shadow: 0 5px 10px #ccc;
}

.samples-icons{
    margin-bottom: 20px;
}
   
/**************end of sample tag price page*******/


/************trences clothes begins************/
.section-trenches{
    background-image:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url('./../images/');
    padding: 100px 0;
}


.trenches-image{
    width: 500px;
    border-radius: 20px;
    vertical-align: middle;
}


.trenches-heading{
    color: #fff;
    font-size: 70px;
}

.trenches-text{
    margin: 20px 0;
    color: #fff;
    margin-bottom: 55px;
    font-size: 25px;
}

/*************trences clothes ends********/

/**generating and connecting with new customers online begins***/

.section-media{
    padding:100px 0;
}

.media-header{
    text-align: center;
    font-size: 30px;
}

.media{
    box-shadow: 0 5px 10px #ccc;
    padding: 20px;
    border-radius: 7px;
    margin-top: 20px;
}
.media::after{
    content: "";
    clear: both;
    display: table;
}

.media-icon-container{
    float: left;
}

.media-textbox{
    float: right;
    width: 80%;
}

.media-header{
    text-align: center;
    margin-bottom: 15px;
}

.media-logo{
    width: 100px;
    padding: 10px;

}

.media-para{
    max-width: 300px;
}

/**generating and connecting with new customers online ends***/

/*****************clients review starts****************/
.section-client{
    padding: 100px 0;
    background-color: #000000;
}

.clients{
    border: 1px solid gray;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
}

.client-image{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 2px solid orangered;
}

.client-header{
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
}

.clients-names{
    margin-top: 60px;
    margin-bottom: 15px;
    text-align: center;
}

.clients-review{
    margin-bottom: 15px;
    max-width: 200px;
}

.client-icons{
    color: orangered;
}
/*****************clients review ends****************/

/*****************tips and tricks starts****************/
.section-tips{
    padding: 100px 0;

}

.tips-image{

    margin: 0 40px;
    height: 200px;
    margin-bottom: 40px;
}

.tips-header{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.tips-para{
    margin-bottom: 25px;
}

.tip-body{
    text-align: center;
}

.tips-sec-header{
    margin-bottom: 10px;
}
/******************contact us starts********************/
.section-form{
    padding: 100px 0;
    background-color: #000000;
    position: relative;
}

.form-container{
    margin: 0 440px;
}

.contact-header{
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-size: 60px;
}


.names::after{
    content: "";
    display: table;
    clear: both;
}

.name{
    float: left;
    padding-right: 10px;
}

.names-inputs{
    margin-bottom: 20px;
    width: 297px;
    padding: 10px;
    border-radius: 5px;
}

.address-input{
    margin-bottom: 20px;
    padding: 10px;
    width: 610px;
    border-radius: 5px;
}

.message-input{
    padding: 30px;
    margin-bottom: 20px;
    width: 610px;
    border-radius: 5px;
}

.label-color{
    color: #fff;
}

.custom-shape-divider-top-1748348943 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1748348943 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1748348943 .shape-fill {
    fill: #FFFFFF;
}
/************contact us ends************/

/*********icons*************/
.section-3icons{
    padding: 70px;
    background-color: #000000;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    margin: 0 50px;

}

.icons{
    width: 60px;
}
/*********icons ends*************/
/*********copyright begins*************/
.section-copyright{
    padding: 30px;
    background-color: #000000;
}

.copyright::after{
    content: "";
    display: table;
    clear: both;
}

.copyright-text{
    float: left;
    color: #fff;
}

.published-text{
    float: right;
    color: var(--primary-color);
}

.effect{
    color: orangered;
}
/*********copyright ends*************/
/*********media queery begins*************/
@media screen and (max-width:900px){
    [class^="col"] {
        float: none;
        margin-right: 0 !important;
        margin-bottom: 50px;
        width: 100%;
    }

    .row{
        max-width: 500px;
    }

    .form-container {
        margin: 0 70px;
    }

    .samples-header {
        margin: 0 auto;
    }

    .sample-para {
        margin: 0 auto;
    }

    .clients-review {
        margin: 0 auto;
    }

    .tips-image {
    
        margin: 0 130px;
    }

    .nav{
        padding: 0 100px;
        padding-top: 40px;
    }
    
}

@media screen and (max-width:480px) {
    .row{
        padding: 0 30px;
    }
    
    .trenches-image {
        width: 330px;

    }

    

    .hero-image {
        width: 200px;
        height: 200px;
    }

    .header {
        height: 140vh;
    }

    .sample-para {
        font-size: 30px;
    }

    .media-para {
        font-size: 30px;
    
    }

    .media-logo {
        margin: 0 60px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 27px;
    }

    .tips-para {
       font-size: 35px;
    }

    .tips-sec-header {
       font-size: 40px;
    }

    .tips-image {
       margin: 0 47px;
       margin-bottom: 30px;
    }

    .samples-sec-header {
       font-size: 40px;
    }

    .samples-images {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .trenches-text {
        font-size: 35px;
    }

    .btn {
       font-size: 30px;
    } 

    .address-input {
        width: 297px;
    }

    .message-input {
        width: 297px;
        margin-bottom: 30px;
    }

    .clients-review {
        font-size: 28px;
    }

    .clients-names{
        font-size: 35px;
    }

    .list-icon{
        color: #fff;
        position: absolute;
        right: 50px;
        top: 66px;
    }
    
    ul {
        display: none;
    }

    .nav {
        padding-left: 23px;
    }
}


